<div layout="column" layout-fill>
  <div align="center" layout="row" layout-align="center center">

    <mat-card class="mat-elevation-z8" flex="80" style="margin-top: 60px; width: 1240px;">

      <mat-card-title>Cadastrar Motorista</mat-card-title>
      <mat-card-subtitle>
      </mat-card-subtitle>

      <mat-card-content fxLayout="column" fxLayoutAlign="stretch" >

        <form [formGroup]="motoristaForm" fxLayout="column" fxLayoutAlign="start stretch" (ngSubmit)="onSubmit()">

          <div fxFlex="100"  fxLayout="row" fxLayoutAlign="start" fxLayoutGap="15px">
            <mat-form-field fxFlex="10" >
              <input matInput type="text" placeholder="Identidade" formControlName="identidade" [textMask]="{mask: maskIdentidade}">
              <mat-error *ngIf="motoristaForm.controls.identidade.hasError('required')">
                Por favor informe a identidade.
              </mat-error>
              <mat-error *ngIf="motoristaForm.controls.identidade.hasError('minlength')">
                Mínimo 10 numeros.
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="15">
              <mat-label>
                Posto/Grad
              </mat-label>
              <mat-select formControlName="postoGraduacaoMotorista">
                <mat-option *ngFor="let postoGrad of postoGraduacao" [value]="postoGrad">
                  {{postoGrad.postoGrad}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="motoristaForm.controls.postoGraduacaoMotorista.hasError('required')">
                Informe o P/G.
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="45" >
              <input matInput type="text" placeholder="Nome Completo" formControlName="nomeCompleto">
              <mat-error *ngIf="motoristaForm.controls.nomeCompleto.hasError('required')">
                Informe o nome completo.
              </mat-error>
              <mat-error *ngIf="motoristaForm.controls.nomeCompleto.hasError('minlength')">
                Mínimo 10 caracteres.
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="30" >
              <input matInput type="text" placeholder="Nome de Guerra" formControlName="nomeDeGuerra">
              <mat-error *ngIf="motoristaForm.controls.nomeDeGuerra.hasError('required')">
                Informe o nome de guerra.
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex="100"  fxLayout="row" fxLayoutAlign="start" fxLayoutGap="15px">
            <mat-form-field fxFlex="10">
              <mat-label>
                Categoria CNH
              </mat-label>
              <mat-select formControlName="categoriaCNH">
                <mat-option *ngFor="let categoria of categoriasCNH" [value]="categoria">
                  {{categoria}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="motoristaForm.controls.categoriaCNH.hasError('required')">
                Informe a categoria da CNH.
              </mat-error>
            </mat-form-field>
            <mat-form-field fxFlex="15" >
              <mat-label>
                Status do Motorista
              </mat-label>
              <mat-select formControlName="statusMotorista">
                <mat-option *ngFor="let status of statusMotoristasOptions" [value]="status.id">
                  {{ status.name | statusMotorista}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="motoristaForm.controls.statusMotorista.hasError('required')">
                Informe o o status do motorista.
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <button mat-button color="warn" (click)="onUndo()">
              <mat-icon>undo</mat-icon>Voltar
            </button>
            <button mat-button color="primary" type="submit" [disabled]="!motoristaForm.valid">
              <mat-icon>done</mat-icon>Cadastrar
            </button>
          </div>

        </form>

      </mat-card-content>
      <mat-card-footer>

      </mat-card-footer>
    </mat-card>

  </div>
</div>

